.quote__wrapper {
  --sb-bg: var(--c-purple);
  --sb-border-color: var(--c-pink);

  margin: 0;
  padding: 32px;
  text-align: center;

  @media (min-width: 768px) {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
  }
}

.quote__image {
  margin: 0 auto;
  width: 56px;

  @media (min-width: 768px) {
    flex: 0 0 auto;
    margin-right: 32px;
    width: 108px;
  }
}

.quote__text {
  color: var(--c-white);
  font-family: var(--f-title);
  font-size: 2.4rem;
}

.quote__author {
  color: var(--c-pink);
  font-family: var(--f-sub);
  font-style: normal;
  font-size: 1.5rem;
}

.quote__link {
  text-decoration: none;
}
