.wrapper {
  margin: 0 auto;
  max-width: 80rem;
  width: calc(100% - 16px);

  @media (min-width: 768px) {
    width: calc(100% - 64px);
  }

  @media (min-width: 1024px) {
    width: calc(100% - 128px);
  }
}
