.locations {
  font-family: var(--f-title);
  font-size: 2rem;
  text-transform: lowercase;
}

.locations,
.locations-category__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.locations-category__title {
  font-size: 2.4rem;
  margin-bottom: 32px;
}

.locations-category__item {
  margin-bottom: 16px;
}

.location__link {
  text-decoration: none;
}

.location__description {
  opacity: 0.4;
}

.location__detail,
.location__extra {
  margin: 0;
}

.locations__map {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: -40px;
  margin-top: -40px;
  overflow: hidden;
  position: relative;
  width: calc(100% + 70px);
}

.locations__map-image {
  display: block;
}

.locations-category__button {
  display: none;
}

.🦄 {
  .locations__category {
    position: relative;
  }

  .locations-category__button {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 16px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4px;
    width: 16px;

    &::before {
      background: url("/static/images/style/triangle.svg") no-repeat 50% 50%;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    & span {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    &[aria-expanded="true"]::before {
      transform: rotate(180deg);
    }
  }

  .locations-category__button[aria-expanded="false"]
    + .locations-category__list {
    display: none;
  }
}

@media (min-width: 768px) {
  .locations {
    align-items: flex-start;
    display: flex;
    font-size: 2.4rem;
    justify-content: space-between;
  }

  .locations__category {
    flex: 0 0 auto;
    width: calc((100% - 32px * 2) / 3);
  }

  .locations__category:nth-child(2) {
    text-align: center;
  }

  .locations__category:nth-child(3) {
    text-align: right;
  }

  .locations-category__title {
    font-size: 3.2rem;
    margin-bottom: 48px;
  }

  .locations-category__item {
    margin-bottom: 32px;
  }

  .🦄 {
    .locations-category__button {
      display: none;
    }

    .locations-category__list.locations-category__list.locations-category__list {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .locations__map {
    margin-bottom: 48px;
    margin-left: -80px;
    margin-top: -80px;
    width: calc(100% + 150px);
  }
}
