.sponsors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsors__item {
  background: var(--c-white);
  flex: 0 0 auto;
  margin: 0 0 8px;
}

.sponsors__item--1st {
  height: 150px;
  width: 100%;
}

.sponsors__item--2nd,
.sponsors__item--3rd {
  height: 100px;
  width: calc(50% - 4px);
}

.sponsors__link--image {
  display: block;
  height: 100%;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 100%;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.sponsors__image {
  border: 0 none;
  max-height: 100%;
  max-width: 100%;
  text-transform: uppercase;
  vertical-align: middle;

  &::after {
    align-items: center;
    background: var(--c-white);
    bottom: 0;
    content: attr(alt);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: 768px) {
  .sponsors__item--1st {
    height: 192px;
    margin-bottom: 40px;
    width: calc(50% - 20px);
  }

  .sponsors__item--2nd {
    height: 128px;
    margin-bottom: 16px;
    width: calc((100% - 16px * 3) / 4);
  }

  .sponsors__item--3rd {
    height: 96px;
    margin-bottom: 16px;
    width: calc((100% - 16px * 4) / 5);
  }
}
