.workshop__details {
  color: var(--c-grey);
  font-family: var(--f-title);
  text-transform: lowercase;
}

.workshop__speaker {
  text-decoration: none;
}

.workshop__header-content {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 1em;
}
